body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Default (light) theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f3f3f3;
}

/* Dark theme override */
[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
}

/* Apply to body or wrapper */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
